<p>Done.</p>
<ul>
  <li>stocks parsed this round: <%= @stocks_parse_count %></li>
  <li>statements parsed this round: <%= @statements_parse_count %></li>
  <li>items parsed this round: <%= @items_parse_count %></li>
</ul>
