<h3><%= link_to '新增資料', controller: 'parsers', action: 'ifrs' %></h3>

<table id='item-view' class="table table-striped table-condensed">
  <tbody>
    <%= render partial: 'parsers/item', collection: @root.children, as: :item %>
  </tbody>
</table>
