<h3><%= link_to '<< 回前頁', controller: 'parsers', action: 'index' %></h3>

<table id='item-view' class="table table-striped table-condensed">
  <tbody>
    <%= render partial: 'parsers/item_with_order', locals: {item: @item.children.first_item} %>
  </tbody>
</table>
