<h3><%= @item.name %></h3>
<hr>
<h4>list of stocks contain <%= @item.name %>:</h4>
<p>(Number of stocks: <%= @item.stocks.size %>)</p>
<pre>
<% @item.stocks.order(:ticker).each do |stock| %>
<%= stock.ticker %>
<% end %>
</pre>
