// Place all the styles related to the comparisons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#search-area
  margin: 40px auto
  max-width: 400px

span.toggleable-switch
  &:hover
    color: #6699ff
    cursor: pointer

table#item-view
  width: 1000px
  margin: 0 auto

  td.stock-info
    width: 200px

  ul,li
    list-style-type: none
