<div id="header" class='navbar navbar-default navbar-static-top'>

  <div class="container">

    <div class="navbar-header">
      <%= link_to 'Statement Item Collector', root_path, class: 'navbar-brand' %>
    </div>

    <div class="navbar-collapse collapse">

      <ul class="nav navbar-nav">
        <!-- <li></li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!-- <li></li> -->
      </ul>

    </div>

  </div>

</div>
